.footer {
    background: rgba(0, 0, 0, 0.9);
    color: white;
    text-align: center;
    padding: 20px;

    bottom: 0;
    width: 100%;
}

.footer p {
    margin: 5px 0;
    font-size: 16px;
}

.footer .small-text {
    font-size: 14px;
    opacity: 0.8;
}

.footer .logo {
    font-size: 20px;
    font-weight: bold;
    color: white;
    text-decoration: none;
}
